<%= form_with model: @supermarket, local: true do |form| %>

    <% if @supermarket.errors.any? %>
        <div id="error_explaination">
            <h2>
                <%= pluralize(@supermarket.errors.count, "error") %>
                    prohibited this supermarket from being saved:
            </h2>
            <ul>
                <% @supermarket.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>

        </div>
    <% end %>

        <p>
            <%= form.label :name %>
            <%= form.text_field :name %>
        </p>
        
        <p>
            <%= form.label :no_of_items %>
            <%= form.text_field :no_of_items %>
        </p>

        <p>
            <%= form.label :variation %>
            <%= form.text_field :variation %>
        </p>

        <p>
            <%= form.label :total %>
            <%= form.text_field :total %>
        </p>

        <p>
            <%= form.label :payment_type %>
            <%= form.text_field :payment_type %>
        </p>
        <%= form.submit %>
        
<% end %>

<% link_to 'Back', supermarkets_path %>