<h1>Listing of Kenyan Supermarkets</h1>

<%= form_tag(supermarkets_path, method: "get") do %>
    <%= text_field_tag(:name, params[:name]) %>
    <%= submit_tag("Search") %>
<% end %><br>
<%= link_to 'New Supermarket', new_supermarket_path %><br><br>
<table>
    <tr>
        <th>Name</th>
        <th>Number of items</th>
        <th>Variation</th>
        <th>Total in KSH</th>
        <th>Type</th>
        <th colspan= " 2 "></th>
    </tr>

    <% @supermarkets.each do |supermarket| %>
        <tr>
            <td><%= supermarket.name %></td>
            <td><%= supermarket.no_of_items %></td>
            <td><%= supermarket.variation %></td>
            <td><%= supermarket.total %></td>
            <td><%= supermarket.payment_type %></td>
            <td><%= link_to 'Show', supermarket_path(supermarket) %></td>
            <td><%= link_to 'Edit', edit_supermarket_path(supermarket) %></td>
            <td><%= link_to 'Destroy', supermarket_path(supermarket), method: :delete,
            data: {confirm: 'Are you sure?'} %></td>

        </tr>
        
    <% end %>
    <% if @supermarkets.blank? %>
    <strong>Could not find element <%= params[:name] %> </strong>
    <% end %>
</table>



