<ul>   
    
        
        <p><strong>Name:</strong>
        <%= @supermarket.name %></p>
        <p><strong>Number of items:</strong>
        <%= @supermarket.no_of_items %></p>
        <p><strong>Variation:</strong>
        <%= @supermarket.variation %></p>
        <p><strong>Total in KSH:</strong>
        <%= @supermarket.total %></p>
        <p><strong>Type:</strong>
        <%= @supermarket.payment_type %></p>
        

</ul>
<%= link_to 'Back', supermarkets_path %>